body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: .03em;
}
div {
	border: 0px solid Chocolate;
}
html {
	-webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
/*Navigation*/
.content {
 width: 970px;
  height: 70px;
  margin: 0 auto;
  padding: 0px .938px;
}
ul {
  list-style: none;
  margin-top: 1.7rem;
}
.top-navigation {
	position: fixed;
	width: 100%;
	z-index: 9999;
	background-color: #fff;
	border-bottom: 1 px solid #ddd;
}
.top-navigation .links {
	float: right;
	margin-top: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.04rem;
	color: #838994;
	
}
.top-navigation .links > li {
   display: inline-block;
   margin-left: 1.563rem;
   }
.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	color: #333333;
	cursor: pointer;
}

.logo {
	width: 26px;
	height: 4.375rem;
}
/*Introduction Section*/
.introduction {
	background-image: url('http://i.imgur.com/3ysb0fG.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	height: 45.938rem;
	overflow: auto;
}
.introduction h1 {
	color: white;
	font-size: 2.9rem;
	font-weight: 300;
	margin-top: 17.5rem;
}
.introduction h3 {
	color: white;
	font-size: 1.5rem;
	font-weight: 300;
}

button {
	background-color: #f15a29;
	border-color: #f15829;
	border-radius: 4px;
	border-style: none;
	text-shadow: none;
	color: white;
	text-align: center;
	width: 9.68rem;
	padding: 1rem 1.563rem;
	font-size: 1.125rem;
	transition: background-color .5s ease;
}
button:hover {
	cursor: pointer;
	background-color: red;
}
/*Icons Section*/
.cases .content {
	margin-top: 7.875rem;
	padding: 0px 0px;
	color: #1d1e21;
	text-align: center;
}
.cases h2 {
	font-size: 2.75rem;
	font-weight: 300;
	margin: 1.625rem 0 3.125rem;
}
.cases h3 {
	font-size: 1.563rem;
	font-weight: 400;
	margin-top: 2.5rem 0px 1.875rem;
}
.cases .devices {
	width: 33.3333333%;
	display: inline-block;
	box-sizing: border-box;
	height: 4em;
	float: left;
}
.devices img {
	height: 127px;
	width: 127px;
}
.flexbox {
	display: flex;
}